/**
    --------------------------------------------------
            Component resetting defaults styles
    --------------------------------------------------
 */

input:focus, select:focus, textarea:focus, button:focus, div:focus, a:focus,
input:active, select:active, textarea:active, button:active, div:active, a:active {
    outline: none;
}